apiVersion: v1
kind: Secret
metadata:
  name: device-manager-batch-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_device_manager_batch_user | b64encode }}
  password: {{ dojot_psql_device_manager_batch_passwd | b64encode }}