apiVersion: v1
kind: Service
metadata:
  labels:
    name: device-manager-batch
  name: device-manager-batch
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 8089
    targetPort: 8089
  selector:
    name: device-manager-batch
    app: dojot
