apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-kafka
  labels:
    app: dojot
    name: kafka-server
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ dojot_storage_class_name }}
{% if dojot_storage_class_name == "local-storage" %}
  local:
    path: {{ dojot_volume_directory }}/kafka
{% endif %}
{% if dojot_storage_class_name == "nfs" %}
  nfs:
    server: {{ hostvars.nfs_host.ansible_host }}
    path: {{ dojot_volume_directory }}/kafka
{% endif %}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/kafka
          operator: In
          values:
          - "enabled"
