apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: common-nx
    app: dojot
  name: common-nx
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: common-nx
  template:
    metadata:
      labels:
        name: common-nx
        app: dojot
    spec:
      containers:
        - image: dojot/common-nx:{{ dojot_gui_nx_version }}
          name: common-nx
#          readinessProbe:
#            exec:
#              command:
#                - service
#                - nginx
#                - status
#            failureThreshold: 30
#            periodSeconds: 1
#            timeoutSeconds: 3
#          livenessProbe:
#            exec:
#              command:
#                - service
#                - nginx
#                - status
#            failureThreshold: 30
#            periodSeconds: 1
#            timeoutSeconds: 3
      restartPolicy: Always
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - "enabled"
{% endif %}