apiVersion: v1
kind: Service
metadata:
  labels:
    name: flows-nx
  name: flows-nx
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_flows_nx_port }}
    targetPort: {{ dojot_flows_nx_port }}
  selector:
    name: flows-nx
    app: dojot