apiVersion: v1
kind: Service
metadata:
  labels:
    name: reports-nx
  name: reports-nx
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_reports_nx_port }}
    targetPort: {{ dojot_reports_nx_port }}
  selector:
    name: reports-nx
    app: dojot