apiVersion: v1
kind: Service
metadata:
  labels:
    name: security-nx
  name: security-nx
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_security_nx_port }}
    targetPort: {{ dojot_security_nx_port }}
  selector:
    name: security-nx
    app: dojot