apiVersion: v1
kind: Service
metadata:
  labels:
    name: file-mgmt
  name: file-mgmt
  namespace: {{ dojot_namespace }}
spec:
  ports:
    - name: file-mgmt
      port: 7000
      targetPort: 7000
  selector:
    name: file-mgmt
    app: dojot