apiVersion: v1
kind: Service
metadata:
  labels:
    name: report-manager
  name: report-manager
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 3791
    targetPort: 3791
  selector:
    name: report-manager
    app: dojot