apiVersion: k8s.nginx.org/v1alpha1
kind: TransportServer
metadata:
  name: coap
  namespace: {{ dojot_namespace }}
spec:
  listener:
    name: coap-udp 
    protocol: UDP 
  upstreams:
  - name: coap
    service: iotagent-lwm2m
    port: 5683
  upstreamParameters:
    udpRequests: 1
    udpResponses: 1
  action:
    pass: coap