apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: influxdb-storer
    app: dojot
  name: influxdb-storer
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: influxdb-storer
  template:
    metadata:
      labels:
        name: influxdb-storer
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/influxdb-storer:{{ dojot_influxdb_storer_version }}
        name: influxdb-storer
        env:
        - name: STORER_LOG_CONSOLE_LEVEL
          value: "{{ dojot_influxdb_storer_log_level }}"
        - name: STORER_CONSUMER_METADATA_BROKER_LIST
          value: "kafka-server:{{ dojot_kafka_port }}"
        readinessProbe:
          httpGet:
            path: /ready
            port: 9000
          failureThreshold: 1
          initialDelaySeconds: 15
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /live
            port: 9000
          failureThreshold: 3
          initialDelaySeconds: 15
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 3
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/database
                operator: In
                values:
                - "enabled"
{% endif %}
