apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: x509-identity-mgmt
  namespace: {{ dojot_namespace }}
  labels:
    app: dojot
    name: x509-identity-mgmt
spec:
{% if dojot_storage_class_name == "local-storage" %}
  selector:
    matchLabels:
      app: dojot
      name: x509-identity-mgmt
{% endif %}
  accessModes:
    - ReadWriteMany
  storageClassName: {{ dojot_storage_class_name }}
  resources:
    requests:
      storage: {{ dojot_x509_identity_management_volume_size }}
