apiVersion: apps/v1
kind: Deployment
metadata:
  name: x509-identity-mgmt
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: dojot
      name: x509-identity-mgmt
  replicas: {{ dojot_x509_identity_mgmt_replicas }}
  template:
    metadata:
      labels:
        app: dojot
        name: x509-identity-mgmt
    spec:
      securityContext:
        fsGroup: 10001
      restartPolicy: Always
      containers:
      - name: x509-identity-mgmt
        image: dojot/x509-identity-mgmt:{{ dojot_x509_identity_mgmt_version  }}
        readinessProbe:
          httpGet:
            path: /health
            port: 9000
          periodSeconds: 20
          timeoutSeconds: 5
        env:
        - name: NODE_ENV
          value: "production"
        - name: X509IDMGMT_MONGO_CONN_URI
          value: "mongodb://mongodb:27017/x509-identity-mgmt"
        - name: X509IDMGMT_EJBCA_HEALTHCHECK_URL
          value: "http://x509-ejbca:8080/ejbca/publicweb/healthcheck/ejbcahealth"
        - name: X509IDMGMT_EJBCA_WSDL
          value: "https://x509-ejbca:8443/ejbca/ejbcaws/ejbcaws?wsdl"
{% if dojot_x509_identity_mgmt_persistent_volumes %}
        volumeMounts:
        - name: x509-ejbca-tls
          mountPath: /opt/tls
      volumes:
      - name: x509-ejbca-tls
        persistentVolumeClaim:
          claimName: x509-ejbca-tls
{% endif %}
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "{{ dojot_node_label.x509 }}"
{% endif %}
