apiVersion: apps/v1
kind: Deployment
metadata:
  name: x509-identity-mgmt
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: dojot
      name: x509-identity-mgmt
  replicas: 2
  template:
    metadata:
      labels:
        app: dojot
        name: x509-identity-mgmt
    spec:
      securityContext:
        fsGroup: 10001
      hostname: "x509-identity-mgmt"
      #subdomain: "dojot.iot"
      restartPolicy: Always
      containers:
      - name: x509-identity-mgmt
        image: dojot/x509-identity-mgmt:{{ dojot_x509_identity_mgmt_version  }}
        readinessProbe:
          httpGet:
            path: /healthcheck
            port: 3000
          periodSeconds: 20
          timeoutSeconds: 5
        env:
        - name: DATABASE_JDBC_URL
          value: "jdbc:postgresql://postgres:5432/ejbca?characterEncoding=UTF-8"
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: x509-identity-mgmt-secret
              key: user
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: x509-identity-mgmt-secret
              key: password
        - name: EJBCA_PERFORM_DOJOT_SETUP
          value: "true"
        - name: NODE_ENV
          value: "production"
        - name: MONGO_URI
          value: "mongodb://mongodb:27017/x509-identity-mgmt"
{% if dojot_x509_identity_mgmt_persistent_volumes %}
        volumeMounts:
        - name: x509-identity-mgmt
          mountPath: /mnt/persistent
      volumes:
      - name: x509-identity-mgmt
        persistentVolumeClaim:
          claimName: x509-identity-mgmt
{% endif %}
