apiVersion: apps/v1
kind: Deployment
metadata:
  name: x509-identity-mgmt
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: dojot
      name: x509-identity-mgmt
  replicas: {{ dojot_x509_identity_mgmt_replicas }}
  template:
    metadata:
      labels:
        app: dojot
        name: x509-identity-mgmt
    spec:
      securityContext:
        fsGroup: 10001
      restartPolicy: Always
      containers:
      - name: x509-identity-mgmt
        image: dojot/x509-identity-mgmt:{{ dojot_x509_identity_mgmt_version  }}
        readinessProbe:
          httpGet:
            path: /health
            port: 9000
          periodSeconds: 20
          timeoutSeconds: 5
        env:
        - name: NODE_ENV
          value: "production"
        - name: X509IDMGMT_KAFKA_PRODUCER_METADATA_BROKER_LIST
          value: "kafka-server:9092"
        - name: X509IDMGMT_KAFKA_CONSUMER_METADATA_BROKER_LIST
          value: "kafka-server:9092"
        volumeMounts:
        - name: x509-identity-mgmt
          mountPath: /opt/tls
      volumes:
      - name: x509-identity-mgmt
        persistentVolumeClaim:
          claimName: x509-identity-mgmt
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/x509
                operator: In
                values:
                - "enabled"
{% endif %}
