apiVersion: v1
kind: Secret
metadata:
  name: x509-identity-mgmt-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_ejbca_user | b64encode }}
  password: {{ dojot_psql_ejbca_passwd | b64encode }}
