## This role is responsible for deploying InfluxDB for dojot
- name: dojot - InfluxDB Objects
  k8s:
    kubeconfig: "{{ dojot_kubeconfig_file_path | default(omit) }}"
    state: present
    definition: "{{ item }}"
  register: result
  until: result.failed == 0
  retries: 30
  delay: 10
  loop:
  - "{{ lookup('template', 'influxdb_statefulset.yaml.j2') | from_yaml }}"
  - "{{ lookup('template', 'influxdb_service.yaml.j2') | from_yaml }}"
  - "{{ lookup('template', 'influxdb_secret.yaml.j2') | from_yaml }}"
  - "{{ lookup('template', 'influxdb_job_setup.yaml.j2') | from_yaml }}"