apiVersion: v1
kind: Service
metadata:
  name: vernemq-k8s-external-service
  namespace: {{ dojot_namespace }}
spec:
  externalTrafficPolicy: Local
  selector:
    vernemq: k8s
  ports:
{% if dojot_insecure_mqtt %}
    - name: mqtt
      port: 1883
{% if dojot_fixed_nodeports_enabled %}
      nodePort: {{ dojot_nodeports.mqtt }}
{% endif %}
{% endif %}
    - name: mqtts
      port: 8883
{% if dojot_fixed_nodeports_enabled %}
      nodePort: {{ dojot_nodeports.mqtts }}
{% endif %}
  type: NodePort
