apiVersion: v1
kind: Service
metadata:
  name: vernemq-k8s-external-service
  namespace: {{ dojot_namespace }}
spec:
  externalTrafficPolicy: Local
  selector:
    vernemq: k8s
  ports:
    - name: mqtt
      port: 1883
      nodePort: 30310
    - name: mqtts
      port: 8883
      nodePort: 30311
  type: NodePort
