apiVersion: v1
kind: Service
metadata:
  labels:
    app: dojot
  name: http-agent-external-service
  namespace: {{ dojot_namespace }}
spec:
  selector:
    name: http-agent
    app: dojot
  ports:
    - name: http-agent
      port: {{ dojot_http_agent_port }}
      protocol: TCP
{% if dojot_fixed_nodeports_enabled %}
      nodePort: {{ dojot_nodeports.agent.https }}
{% endif %}
  type: NodePort