apiVersion: v1
kind: Service
metadata:
  labels:
    name: http-agent-redis-basic
  name: http-agent-redis-basic
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_http_agent_redis_port }}
    targetPort: {{ dojot_http_agent_redis_port }}
    name: http-agent-redis-basic
  selector:
    name: http-agent-redis-basic
    app: dojot
