apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-keycloak
  labels:
    app: dojot
    name: keycloak
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ dojot_storage_class_name }}
  local:
    path: {{ dojot_volume_directory }}/keycloak
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/dojot
          operator: In
          values:
          - "enabled"
