apiVersion: v1
kind: Secret
metadata:
  name: dojot-secrets
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  dojot-basic-auth: {{ dojot_basic_auth_secret | b64encode }}
  dojot-cert-support: {{ dojot_cert_support_secret | b64encode }}
  dojot-certificate-acl: {{ dojot_certificate_acl_secret | b64encode }}
  dojot-cron: {{ dojot_cron_secret | b64encode }}
  dojot-device-manager-sidecar: {{ dojot_device_manager_sidecar_secret | b64encode }}
  dojot-file-mgmt: {{ dojot_file_mgmt_secret | b64encode }}
  dojot-http-agent: {{ dojot_http_agent_secret | b64encode }}
  dojot-influxdb-retriever: {{ dojot_influxdb_retriever_secret | b64encode }}
  dojot-iotagent-mqtt-sidecar: {{ dojot_iotagent_mqtt_sidecar_secret | b64encode }}
  dojot-x509-identity-mgmt: {{ dojot_x509_identity_mgmt_secret | b64encode }}
  dojot-report-manager: {{ dojot_report_manager | b64encode }}
  dojot-v2k-bridge: {{ dojot_v2k_bridge | b64encode }}
  dojot-device-manager-batch: {{ dojot_device_manager_batch | b64encode }}
  KEYCLOAK_PROXY: {{ dojot_keycloak_proxy_secret | b64encode }}
  KEYCLOAK_PROXY_USER: {{ dojot_keycloak_proxy_user_secret | b64encode }}