apiVersion: v1
kind: Pod
metadata:
  name: dojot-secret-check
  namespace: {{ dojot_namespace }}
spec:
  containers:
  - name: dojot-secret-check
    image: redis
    volumeMounts:
    - name: dojot-secrets-volume
      mountPath: "/secrets"
      readOnly: true
  volumes:
  - name: dojot-secrets-volume
    secret:
      secretName: dojot-secrets