apiVersion: v1
kind: Pod
metadata:
  name: mypod
  namespace: {{ dojot_namespace }}
spec:
  containers:
  - name: mypod
    image: redis
    volumeMounts:
    - name: dojot-secrets-volume
      mountPath: "/secrets"
      readOnly: true
  volumes:
  - name: dojot-secrets-volume
    secret:
      secretName: dojot-secrets