apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: cron
    app: dojot
  name: cron
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: cron
  template:
    metadata:
      labels:
        name: cron
        app: dojot
    spec:
      containers:
      - image: dojot/cron:{{ dojot_version }}
        name: cron
        env:
        - name: KAFKA_HOSTS
          value: {{ kafka_host }}
      restartPolicy: Always
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "{{ dojot_node_label.dojot }}"
{% endif %}
