apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    name: influxdb-chronograf
    app: dojot
  name: influxdb-chronograf
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: influxdb-chronograf
  template:
    metadata:
      labels:
        name: influxdb-chronograf
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: chronograf:{{ dojot_influxdb_chronograf_version }}
        name: influxdb-chronograf
        readinessProbe:
          exec:
            command:
              - curl
              - -f
              - http://localhost:8888
          failureThresold: 1
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        livenessProbe:
          exec:
            command:
              - curl
              - -f
              - http://localhost:8888
          failureThresold: 3
          initialDelaySeconds: 15
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 3
        env:
        - name: INFLUXDB_URL
          value: http://influxdb:8086
        - name: INFLUXDB_USERNAME
          value: admin
        - name: INFLUXDB_PASSWORD
          value: admin
      ports:
        - 127.0.0.1:8888:8888
      volumeMounts:
          - name: influxdb-chronograf-volume
            mountPath: /var/lib/chronograf
      volumes:
      - name: influxdb-chronograf-volume
        persistentVolumeClaim:
          claimName: influxdb-chronograf-volume
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/database
                operator: In
                values:
                - "enabled"
{% endif %}
  volumeClaimTemplates:
  - metadata:
      name: influxdb-chronograf-volume
    spec:
{% if dojot_storage_class_name == "local-storage" %}
      selector:
        matchLabels:
          app: dojot
          db: influxdb-chronograf
          type: local
{% endif %}
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ dojot_storage_class_name }}
      resources:
        requests:
          storage: {{ dojot_influxdb_chronograf_volume_size }}
