apiVersion: v1
kind: ConfigMap
metadata:
    name: postgres-init
    namespace: {{ dojot_namespace }}
data:
    init-db.sql: |
        CREATE database {{ dojot_psql_kong_db }};
        CREATE USER {{ dojot_psql_kong_user }} WITH ENCRYPTED PASSWORD '{{ kong_secret.stdout_lines[0] }}';
        GRANT ALL PRIVILEGES ON DATABASE {{ dojot_psql_kong_db }} TO {{ dojot_psql_kong_user }};
        CREATE database {{ dojot_psql_ejbca_user }};
        CREATE USER {{ dojot_psql_ejbca_user }} WITH ENCRYPTED PASSWORD '{{ x509_ejbca_secret.stdout_lines[0] }}';
        GRANT ALL PRIVILEGES ON DATABASE {{ dojot_psql_ejbca_db }} TO {{ dojot_psql_ejbca_user }};
        CREATE DATABASE {{ dojot_psql_devm_user }};
        CREATE USER {{ dojot_psql_devm_user }} WITH ENCRYPTED PASSWORD '{{ devm_secret.stdout_lines[0] }}';
        ALTER ROLE {{ dojot_psql_devm_user }} WITH CREATEDB;
        CREATE DATABASE {{ dojot_psql_keycloak_db }};
        CREATE USER {{ dojot_psql_keycloak_user }} WITH ENCRYPTED PASSWORD '{{ keycloak_secret.stdout_lines[0] }}';
        GRANT ALL PRIVILEGES ON DATABASE {{ dojot_psql_keycloak_db }} TO {{ dojot_psql_keycloak_user }};
        CREATE DATABASE {{ dojot_psql_backstage_db }};
        CREATE USER {{ dojot_psql_backstage_user }} WITH ENCRYPTED PASSWORD '{{ backstage_password.stdout_lines[0] }}';
        GRANT ALL PRIVILEGES ON DATABASE {{ dojot_psql_backstage_db }} TO {{ dojot_psql_backstage_user }};