apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: dojot
    name: postgres
  name: postgres
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: postgres
  template:
    metadata:
      labels:
        app: dojot
        name: postgres
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/postgres:{{ dojot_psql_version }}
        name: postgres
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: user
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: password
          - name: POSTGRES_DB
            value: {{ dojot_psql_default_db }}
        volumeMounts:
          - name: postgres-init
            mountPath: /docker-entrypoint-initdb.d/
{% if dojot_psql_persistent_volumes %}
          - name: psql-volume
            mountPath: /var/lib/postgresql/data
{% endif %}
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "{{ dojot_node_dojot_label }}"
{% endif %}
      volumes:
      - name: postgres-init
        configMap:
          name: postgres-init
{% if dojot_psql_persistent_volumes %}
  volumeClaimTemplates:
  - metadata:
      name: psql-volume
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ dojot_storage_class_name }}
      resources:
        requests:
          storage: {{ dojot_psql_volume_size }}
      selector:
        matchLabels:
          app: dojot
          db: postgres
{% endif %}