apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: v2k-scaledobject
  namespace: {{ dojot_namespace }}
  labels:
    app: dojot
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    name: v2k-bridge
    kind: StatefulSet
  minReplicaCount: 1
  maxReplicaCount: 21
  triggers:
  - type: cpu
    metricType: Utilization
    metadata:
      value: "80"