apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: v2k-scaledobject
  namespace: {{ dojot_namespace }}
  labels:
    app: dojot
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    name: v2k-bridge
    kind: StatefulSet
  minReplicaCount: {{ dojot_bridges_replicas }}
  maxReplicaCount: {{ dojot_v2k_max_replicas }}
  triggers:
  - type: cpu
    metricType: Utilization
    metadata:
      value: "{{ value_metric_trigger_cpu }}"
