apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: v2k-bridge
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "v2k-bridge"
  selector:
    matchLabels:
      app: v2k-bridge
  replicas: {{ dojot_vernemq_mqtt_replicas_to_scale }}
  template: #templates for the pods
    metadata:
      labels:
        app: v2k-bridge
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                - verne-kafka
      containers:
      - name: v2k-bridge
        #image: dojot/v2k-bridge:{{ dojot_v2k_version}}
        image: jonaphael/v2k-x509-identity-mgmt:development
        env:
        - name: EJBCA_ADDRESS
          value: x509-identity-mgmt:3000
        - name: KAFKA_HOSTS
          value: kafka-server:9092


