apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: v2k-bridge
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "v2k-bridge"
  selector:
    matchLabels:
      name: v2k-bridge
  replicas: {{ dojot_bridges_replicas }}
  template: #templates for the pods
    metadata:
      labels:
        app: dojot
        name: v2k-bridge
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: vernemq
                operator: In
                values:
                - k8s
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: v2k-bridge
        image: dojot/v2k-bridge:{{ dojot_v2k_version}}
        env:
        - name: V2K_APP_EJBCA_ADDRESS
          value: ejbca-wrapper:5583
        - name: V2K_MQTT_BACKPRESSURE_QUEUE_LENGTH_MAX
          value: "104857600"
        - name: V2K_KAFKA_COMPRESSION_CODEC
          value: gzip
        - name: V2K_KAFKA_QUEUE_BUFFERING_MAX_MS
          value: "50"
