apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-pv-zk-log
  labels:
    type: local
    app: dojot
    name: zookeeper-log
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ dojot_storage_class_name }}
  local:
    path: {{ dojot_volume_directory }}/zookeeper/log
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/kafka
          operator: In
          values:
          - "enabled"
