kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ejbca-volume-claim
  namespace: {{ dojot_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ dojot_ejbca_volume_size }}
  storageClassName: {{ dojot_storage_class_name }}
