apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: ejbca
    app: dojot
  name: ejbca
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: ejbca
  template:
    metadata:
      labels:
        name: ejbca
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/ejbca-rest:{{ dojot_ejbca_version }}
        name: ejbca
        env:
        - name: KAFKA_HOSTS
          value: kafka-server:{{ dojot_kafka_port }}
        - name: KAFKA_GROUP_ID
          value: ejbca-group
{% if dojot_ejbca_persistent_volumes %}
        volumeMounts:
        - name: ejbca-volume
          mountPath: /data
      volumes:
      - name: ejbca-volume
        persistentVolumeClaim:
            claimName: ejbca-volume-claim
{% endif %} 
