apiVersion: v1
kind: Service
metadata:
  labels:
    name: minio-service
  name: minio-service
  namespace: {{ dojot_namespace }}  
spec:
  ports:
    - port: {{ dojot_minio_port }}
      targetPort: {{ dojot_minio_port }}
      nodePort: 30009
      protocol: TCP
  type: NodePort
  selector:
    name: minio
    app: dojot