apiVersion: v1
kind: Service
metadata:
  labels:
    app: dojot
  name: minio-external-service
  namespace: {{ dojot_namespace }}
spec:
  externalTrafficPolicy: Local
  selector:
    name: minio
    app: dojot
  ports:
    - name: minio
      port: {{ dojot_minio_port }}
      protocol: TCP
{% if dojot_fixed_nodeports_enabled %}
      nodePort: {{ dojot_nodeports.minio }}
{% endif %}
  type: NodePort