apiVersion: v1
kind: Service
metadata:
  name: locust-metrics
  namespace: dojot-monitoring
  labels:
    k8s-app: locust-metrics
spec:
  type: ExternalName
  externalName: {{ dojot_locust_exporter.ip }}
  clusterIP: ""
  ports:
  - name: metrics
    port: {{ dojot_locust_exporter.port }}
    protocol: TCP
    targetPort: {{ dojot_locust_exporter.port }}
