upstream apigw_backend_http {
  least_conn;
{% for node in groups['apigw_nodes'] | default([]) %}
    server {{ node }}:{{ dojot_nodeports.apigw.http }};
{% endfor %}
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ dojot_certbot_certs_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ dojot_certbot_certs_domain }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;

    ssl_ecdh_curve secp384r1;
    ssl_session_tickets off;

    proxy_pass apigw_backend_http;
}
