upstream coap_backend {
    least_conn;
{% for node in groups['lwm2m_nodes'] | default([]) %}
    server {{ node }}:{{ dojot_nodeports.lwm2m.coap }};
{% endfor %}
}

server {
    listen 5683 udp;
    proxy_pass coap_backend;
}