upstream coap_http_backend {
    least_conn;
{% for node in groups['lwm2m_nodes'] | default([]) %}
    server {{ node }}:{{ dojot_nodeports.lwm2m.http }};
{% endfor %}
}

server {
    listen 5896;
    proxy_pass coap_http_backend;
}