upstream coaps_backend {
    least_conn;
{% for node in groups['lwm2m_nodes'] | default([]) %}
    server {{ node }}:{{ dojot_nodeports.lwm2m.coaps }};
{% endfor %}
}

server {
    listen 5684 udp;
    proxy_pass coaps_backend;
}