upstream file_servers_backend {
    least_conn;
{% for node in groups['lwm2m_nodes'] | default([]) %}
    server {{ node }}:{{ dojot_nodeports.lwm2m.file_servers }};
{% endfor %}
}

server {
    listen 5694 udp;
    proxy_pass file_servers_backend;
}