upstream http_agent_backend {
    zone http_agent_backend 256k;
    least_conn;
{% for node in groups['http_agent_nodes'] | default([]) %}
    server {{ node }}:{{ dojot_nodeports.agent.https }};
{% endfor %}
}

server {
    listen 8080;
    proxy_pass http_agent_backend;
    proxy_timeout 10m;
    proxy_connect_timeout 5s;
    proxy_buffer_size 16k;
    ssl_session_cache shared:SSL:1m;
}