[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/k3s.service.env
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service'
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s \
    server \
    --node-name "{{ ansible_hostname }}" \
    --node-ip "{{ node_ip }}" \
    --advertise-address "{{ node_ip }}" \
    --data-dir "{{ k3s_server_data_dir | default('/var/lib/rancher/k3s') }}" \
    --disable "{{ k3s_server_disable_services | join(',') }}" \
    --default-local-storage-path "{{ k3s_server_local_storage_path | default('/var/lib/rancher/storage') }}" \
{% for labels in k3s_server_node_labels %}
{% if k3s_server_node_labels is defined %}
    --node-label "{{ labels }}" \
{% endif %}
{% endfor %}
    --disable-cloud-controller \
    --write-kubeconfig-mode 644