apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    name: mongodb
    app: dojot
  name: mongodb
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: mongodb
  template:
    metadata:
      labels:
        name: mongodb
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/mongo:{{ dojot_mongodb_version }}
        name: mongodb
        readinessProbe:
          exec:
            command:
              - echo
              - 'db.runCommand("ping").ok'
              - |
              - mongo
              - mongodb:27017/test
              - --quiet
          failureThresold: 1
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        livenessProbe:
          exec:
            command:
              - echo
              - 'db.runCommand("ping").ok'
              - |
              - mongo
              - mongodb:27017/test
              - --quiet
          failureThresold: 3
          initialDelaySeconds: 15
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 3
        volumeMounts:
        - name: mongodb-volume
          mountPath: /data/db
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - "enabled"
{% endif %}
  volumeClaimTemplates:
  - metadata:
      name: mongodb-volume
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ dojot_storage_class_name }}
      resources:
        requests:
          storage: {{ dojot_mongodb_volume_size }}
      selector:
        matchLabels:
          app: dojot
          db: mongodb
