apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: data-manager
    app: dojot
  name: data-manager
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: data-manager
  template:
    metadata:
      labels:
        name: data-manager
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/data-manager:{{ dojot_data_manager_version }}
        name: data-manager
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "{{ dojot_node_label.dojot }}"
{% endif %}
