image:
  repository: grafana/loki
  tag: 2.4.2
  pullPolicy: IfNotPresent

affinity:
podAntiAffinity:
  requiredDuringSchedulingIgnoredDuringExecution:
  - labelSelector:
      matchExpressions:
      - key: dojot.components/dojot
        operator: In
        values:
        - enabled

extraArgs:
  log.level: info

persistence:
  enabled: true
  accessModes:
  - ReadWriteOnce
  size: 10Gi
  storageClassName: {{ dojot_storage_class_name }}
{% if dojot_storage_class_name == "local-storage" %}
  selector:
    matchLabels:
      app.kubernetes.io/name: loki
      app.kubernetes.io/part-of: monitoring
      app.kubernetes.io/managed-by: helm
{% endif %}

replicas: 1

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

serviceMonitor:
  enabled: true
