apiVersion: v1
kind: StatefulSet
metadata:
  name: minio-files
  namespace: {{ dojot_namespace }}
spec:
  serviceName: minio-files
  replicas: {{ dojot_minio_files_cluster_size }}
  selector:
    matchLabels:
      app: dojot
      name: minio-files
  template:
    metadata:
      labels:
        app: dojot
        name: minio-files
    spec:
      restartPolicy: Always
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - "enabled"
{% endif %}
      containers:
      - name: minio-files
        image: minio/minio:{{ dojot_minio_files_version }}
        env:
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-files-secrets
              key: MINIO_ACCESS_KEY
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-files-secrets
              key: MINIO_SECRET_KEY
        args:
          - server
          - /data
        ports:
        - containerPort: {{ dojot_minio_files_api_port }}
          name: api
          protocol: TCP
        - containerPort: {{ dojot_minio_files_console_port }}
          name: console
          protocol: TCP
        volumeMounts:
        - name: minio-files-volume
          mountPath: /data
        livenessProbe:
          httpGet:
            path: /minio/health/live
            port: 9000
          initialDelaySeconds: 30
          periodSeconds: 20
  volumeClaimTemplates:
  - metadata:
      name: minio-files-volume
      namespace: {{ dojot_namespace }}
    spec:
      selector:
        matchLabels:
          app: dojot
          db: minio-files
      accessModes:
        - ReadWriteOnce
      storageClassName: {{ dojot_storage_class_name }}
      resources:
        requests:
          storage: {{ dojot_minio_files_volume_size }}
