apiVersion: v1
kind: Secret
metadata:
  name: minio-files-secrets
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  MINIO_ACCESS_KEY: {{ dojot_minio_files_access_key | b64encode }}
  MINIO_SECRET_KEY: {{ dojot_minio_files_secret_key | b64encode }}