apiVersion: v1
kind: Service
metadata:
  labels:
    name: minio-files
    app: dojot
  name: minio-files
  namespace: {{ dojot_namespace }}
spec:
  ports:
    - name: minio-files-console
      port: 9001
      targetPort: 9001
  clusterIP: None
  selector:
    name: minio-files
    app: dojot