apiVersion: v1
kind: Service
metadata:
  labels:
    app: dojot
  name: minio-files-external-service
  namespace: {{ dojot_namespace }}
spec:
  selector:
    name: minio-files
    app: dojot
  ports:
    - name: minio-files
      port: {{ dojot_minio_files_browser_port }}
      targetPort: {{ dojot_minio_files_browser_port }}
      protocol: TCP
{% if dojot_fixed_nodeports_enabled %}
      nodePort: {{ dojot_nodeports.minio_files_browser }}
{% endif %}
  type: NodePort
  selector:
    app: dojot