apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: gui
    app: dojot
  name: gui
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: gui
  template:
    metadata:
      labels:
        name: gui
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/gui:{{ dojot_gui_version }}
        name: gui
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - "enabled"
{% endif %}
