apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-prometheus
  labels:
    app: prometheus
    prometheus: k8s
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ dojot_volume_directory }}/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/monitoring
          operator: In
          values:
          - "enabled"