apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-pv-prometheus
  labels:
    type: local
    db: prometheus
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ dojot_storage_class_name }}
  local:
    path: {{ dojot_volume_directory }}/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/dojot
          operator: In
          values:
          - "enabled"
