apiVersion: v1
kind: Service
metadata:
  labels:
    name: basic-auth
  name: basic-auth
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    name: basic-auth
    app: dojot