apiVersion: v1
kind: Service
metadata:
  labels:
    name: iotagent-lwm2m
  name: iotagent-lwm2m
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: coap
    protocol: UDP
    port: 5683
    targetPort: 5683
  - name: coaps
    protocol: UDP
    port: 5684
    targetPort: 5684
  - name: file-server
    protocol: UDP
    port: 5693
    targetPort: 5693
  - name: file-servers
    protocol: UDP
    port: 5694
    targetPort: 5694
  - name: lw-http
    protocol: TCP
    port: 5896
    targetPort: 5896
  selector:
    name: iotagent-lwm2m
    app: dojot
