apiVersion: v1
kind: Service
metadata:
  labels:
    name: iotagent-lwm2m
  name: iotagent-lwm2m
  namespace: {{ dojot_namespace }}
spec:
  externalTrafficPolicy: Local
  type: NodePort
  ports:
  - name: lwm2m-one
    protocol: UDP
    port: 5683
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.coap }}
{% endif %}
  - name: lwm2m-two
    protocol: UDP
    port: 5684
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.coaps }}
{% endif %}
  - name: lwm2m-three
    protocol: UDP
    port: 5693
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.file_server }}
{% endif %}
  - name: lwm2m-four
    protocol: UDP
    port: 5694
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.file_servers }}
{% endif %}
  - name: lwm2m-http
    protocol: TCP
    port: 5896
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.http }}
{% endif %}
  - name: lwm2m-https
    protocol: TCP
    port: 5897
    targetPort: 5897
  selector:
    name: iotagent-lwm2m
    app: dojot
