---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    name: zookeeper
    app: dojot
  name: zookeeper
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: dojot
      name: zookeeper
  serviceName: zookeeper-cluster
  replicas: {{ dojot_zk_cluster_size }}
  updateStrategy:
    type: OnDelete
  podManagementPolicy: Parallel
  template:
    metadata:
      namespace: dojot
      labels:
        app: dojot
        name: zookeeper
    spec:
      terminationGracePeriodSeconds: 1200
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/kafka
                operator: In
                values:
                - "enabled"
{% endif %}
      containers:
        - name: zookeeper
          image: "confluentinc/cp-zookeeper:5.5.0"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ dojot_zk_client_port }}
              name: client
            - containerPort: {{ dojot_zk_server_port }}
              name: server
            - containerPort: {{ dojot_zk_election_port }}
              name: leader-election
          env:
            - name: ZOOKEEPER_REPLICAS
              value: "{{ dojot_zk_cluster_size | string }}"
            - name: ZOOKEEPER_CLIENT_PORT
              value: "{{ dojot_zk_client_port }}"
            - name: ZOOKEEPER_ELECTION_PORT
              value: "{{ dojot_zk_election_port }}"
            - name: ZOOKEEPER_SERVER_PORT
              value: "{{ dojot_zk_server_port }}"
            - name: ZOOKEEPER_HEAP_SIZE
              value: "2G"
            - name: ZOOKEEPER_INIT_LIMIT
              value: "5"
            - name: ZOOKEEPER_LOG_LEVEL
              value: "INFO"
            - name: ZOOKEEPER_MAX_CLIENT_CNXNS
              value: "100"
            - name: ZOOKEEPER_MAX_SESSION_TIMEOUT
              value: "40000"
            - name: ZOOKEEPER_MIN_SESSION_TIMEOUT
              value: "4000"
            - name: ZOOKEEPER_PURGE_INTERVAL
              value: "0"
            - name: ZOOKEEPER_SNAP_RETAIN_COUNT
              value: "3"
            - name: ZOOKEEPER_SYNC_LIMIT
              value: "10"
            - name: ZOOKEEPER_TICK_TIME
              value: "2000"
          volumeMounts:
            - name: zk-volume-data
              mountPath: /var/lib/zookeeper/data
            - name: zk-volume-log
              mountPath: /var/lib/zookeeper/log
  volumeClaimTemplates:
  - metadata:
      name: zk-volume-data
      namespace: {{ dojot_namespace }}
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ dojot_storage_class_name }}
      resources:
        requests:
          storage: {{ dojot_zk_volume_size }}
      selector:
        matchLabels:
          app: dojot
          name: zookeeper-data
  - metadata:
      name: zk-volume-log
      namespace: {{ dojot_namespace }}
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ dojot_storage_class_name }}
      resources:
        requests:
          storage: {{ dojot_zk_volume_size }}
      selector:
        matchLabels:
          app: dojot
          name: zookeeper-log