apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-grafana
  labels:
    app: grafana
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "{{ dojot_storage_class_name }}"
  local:
    path: {{ dojot_volume_directory }}/grafana
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/dojot
          operator: In
          values:
          - "enabled"