apiVersion: v1
kind: Secret
metadata:
  name: influxdb-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  admin-token: {{ dojot_influxdb_token | b64encode }}
  admin-password: {{ dojot_influxdb_passwd | b64encode }}