apiVersion: v1
kind: Service
metadata:
  labels:
    name: indluxdb-external
  name: indluxdb-external
  namespace: {{ dojot_namespace }}
spec:
  type: NodePort
  ports:
  - name: "indluxdb-http"
    port: 8086
    targetPort: 8086
  selector:
    name: influxdb
    app: dojot
