apiVersion: v1
kind: ConfigMap
metadata:
    name: postgres-ejbca-init
    namespace: {{ dojot_namespace }}
data:
    init-db.sh: |
        #!/usr/bin/env bash

        set -e

        psql -v ON_ERROR_STOP=1 -d ${POSTGRES_DB} -U ${POSTGRES_USER}  <<-EOSQL
            CREATE USER {{ dojot_psql_ejbca_user }} WITH ENCRYPTED PASSWORD '{{ dojot_psql_ejbca_passwd}}';
            ALTER ROLE {{ dojot_psql_ejbca_user }} WITH CREATEDB;
        EOSQL
