apiVersion: v1
kind: Service
metadata:
  labels:
    name: postgres-ejbca
  name: postgres-ejbca
  namespace: {{ dojot_namespace }}
spec:
  type: ClusterIP
  ports:
  - port: {{ dojot_psql_ejbca_port }}
    targetPort: {{ dojot_psql_ejbca_target_port }}
  selector:
    name: postgres-ejbca
    app: dojot
