apiVersion: v1
kind: Service
metadata:
  labels:
    name: certificate-acl
  name: certificate-acl
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    name: certificate-acl
    app: dojot
