apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    name: certificate-acl-redis
    app: dojot
  name: certificate-acl-redis
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: certificate-acl-redis
  template:
    metadata:
      labels:
        name: certificate-acl-redis
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/redis:6.0.4-alpine3.11
        name: certificate-acl-redis
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - "enabled"
{% endif %}
