apiVersion: v1
kind: Service
metadata:
  labels:
    name: certificate-acl-redis
  name: certificate-acl-redis
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_certificate_acl_redis_port }}
    targetPort: {{ dojot_certificate_acl_redis_port }}
    name: certificate-acl-redis
  selector:
    name: certificate-acl-redis
    app: dojot
