apiVersion: v1
kind: Service
metadata:
  labels:
    name: kafkaws
  name: kafkaws
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    name: kafkaws
    app: dojot
