apiVersion: v1
kind: Service
metadata:
  labels:
    name: kafka-ws-redis
  name: kafka-ws-redis
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_kafka_ws_redis_port }}
    targetPort: {{ dojot_kafka_ws_redis_port }}
    name: kafka-ws-redis
  selector:
    name: kafka-ws-redis
    app: dojot
