apiVersion: v1
kind: Service
metadata:
  labels:
    name: kafka-ws
  name: kafka-ws
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_kafka_ws_port }}
    targetPort: {{ dojot_kafka_ws_port }}
  selector:
    name: kafka-ws
    app: dojot
