apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_keycloak_user | b64encode }}
  password: {{ dojot_psql_keycloak_passwd | b64encode }}
  db: {{ dojot_psql_keycloak_db | b64encode }}