apiVersion: v1
kind: Service
metadata:
  labels:
    name: keycloak
  name: keycloak
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ dojot_keycloak_port }}
    targetPort: {{ dojot_keycloak_port }}
  selector:
    name: keycloak
    app: dojot
