
kind: StatefulSet
metadata:
  name: kafka-loopback
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "kafka-loopback"
  selector:
    matchLabels:
      app: dojot
      name: kafka-loopback
  replicas: {{ dojot_bridges_replicas }}
  template:
    metadata:
      labels:
        app: dojot
        name: kafka-loopback
    spec:
      containers:
      - name: kafka-loopback
        image: dojot/kafka-loopback:{{ dojot_loopback_version }}
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/kafka
                operator: In
                values:
                - "enabled"
{% endif %}
