apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: dojot-monitoring
spec:
  selector:
    app: grafana

  ports:
    - name: http
      port: 3000
{% if dojot_fixed_nodeports_enabled %}
      nodePort: {{ dojot_nodeports.metrics }}
{% endif %}

  type: NodePort
