apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: iotagent-mosca
    app: dojot
  name: iotagent-mosca
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: iotagent-mosca
  template:
    metadata:
      labels:
        name: iotagent-mosca
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/iotagent-mosca:{{ dojot_iotagent_mosca_version }}
        name: iotagent-mosca
        env:
        - name: MOSCA_TLS_DNS_LIST
          value: {{ dojot_domain_name }}
        - name: LOG_LEVEL
          value: info
        - name: MQTTREST_EJBCA_URL
          value: http://ejbca-wrapper:5583
        - name: BACKEND_HOST
          value: localhost
        - name: DOJOT_MANAGEMENT_USER
          value: iotagent-mqtt
        - name: KAFKA_GROUP_ID
          value: iotagent-mqtt-group
        - name: ALLOW_UNSECURED_MODE
          value: "{{ dojot_insecure_mqtt }}"
        - name: KAFKA_HOSTS
          value: kafka-server:{{ dojot_kafka_port }}
      - image: dojot/redis:5.0.5-alpine3.10
        name: redis
        ports:
        - containerPort: 6379
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - true
{% endif %}
