apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: iotagent-mosca
    app: dojot
  name: iotagent-mosca
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: iotagent-mosca
        app: external-mosca
    spec:
      containers:
      - image: dojot/iotagent-mosca:{{ dojot_version }}
        name: iotagent-mosca
        env:
        - name: BACKEND_HOST
          value: localhost
        - name: KAFKA_ADDRESS
          value: kafka-server
        - name: KAFKA_PORT
          value: "{{ dojot_kafka_port }}"
        # TODO: Get rid of this variable once the bug is fixed
        - name: KAFKA_HOSTS
          value: "kafka-server-0.kafka-server:9092,kafka-server-1.kafka-server:9092,kafka-server-2.kafka-server:9092"
      - image: redis:alpine
        name: redis
        ports:
        - containerPort: 6379
      restartPolicy: Always
