apiVersion: v1
kind: Service
metadata:
  labels:
    name: iotagent-mosca
  name: iotagent-mosca
  namespace: {{ dojot_namespace }}
spec:
  type: NodePort
  ports:
  - name: mqtt-insecure
    port: 1883
    targetPort: 1883
  - name: mqtt-secure
    port: 8883
    targetPort: 8883
  selector:
    name: iotagent-mosca
    app: dojot
