apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: iotagent-mosca
    app: dojot
  name: iotagent-mosca
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: iotagent-mosca
        app: dojot
    spec:
      containers:
      - image: dojot/iotagent-mosca:{{ dojot_iotagent_mosca_version }}
        name: iotagent-mosca
        env:
        - name: BACKEND_HOST
          value: localhost
        - name: KAFKA_GROUP_ID
          value: iotagent-mqtt-group
        - name: ALLOW_UNSECURED_MODE
          value: 'true'
        - name: KAFKA_HOSTS
          value: kafka-server:{{ dojot_kafka_port }}
      - image: redis:alpine
        name: redis
        ports:
        - containerPort: 6379
      restartPolicy: Always
