apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: backstage
    app: dojot
  name: backstage
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: backstage
  template:
    metadata:
      labels:
        name: backstage
        app: dojot
    spec:
      containers:
      - image: dojot/backstage:{{ dojot_frontend_version }}
        name: backstage
        env:
        - name: LOCAL_URL
          value: {{ kong_url }}
        - name: BS_POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: password
        - name: BS_SESSION_SECRET
          valueFrom:
            secretKeyRef:
              name: backstage-secret
              key: BS_SESSION_SECRET
        - name: BS_LOG_CONSOLE_LEVEL
          value: 'info'
        - name: BS_BASE_URL
          value: "http://{{ dojot_domain_name }}"
        - name: BS_GRAPHQL_SECURE
          value: "false"
        - name: BS_GRAPHQL_SSL_CA
          value: "/certs/ca.crt"
        - name: BS_GRAPHQL_BASE_URL
          value: http://kong:8000
        - name: BS_SESSION_DOMAIN
          value: "{{ dojot_domain_name }}"
        - name: BS_SESSION_COOKIE_HTTPS
          value: "false"
        - name: BS_KEYCLOAK_EXTERNAL_URL
          value: "http://{{ dojot_domain_name }}/auth"
        - name: BS_KEYCLOAK_INTERNAL_URL
          value: "http://{{ dojot_domain_name }}/auth"
        - name: BS_KEYCLOAK_SECURE
          value: "false"
        - name: BS_KEYCLOAK_SSL_CA
          value: "/certs/ca.crt"
        - name: BS_PROXY_TARGET
          value: "http://kong:8000"
        - name: BS_PROXY_SECURE
          value: "false"
        - name: BS_USE_INFLUXDB
          value: "true"
      restartPolicy: Always
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/dojot
                operator: In
                values:
                - "enabled"
{% endif %}
