apiVersion: v1
kind: Secret
metadata:
  name: backstage-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  BS_SESSION_SECRET: {{ dojot_bs_session_secret | b64encode }}
  user: {{ dojot_psql_backstage_user | b64encode }}
  password: {{ dojot_psql_backstage_passwd | b64encode }}
  database: {{ dojot_psql_backstage_db | b64encode }}