apiVersion: v1
kind: Service
metadata:
  labels:
    name: backstage-redis
  name: backstage-redis
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: {{ backstage_redis_port }}
    targetPort: {{ backstage_redis_port }}
  selector:
    name: backstage-redis
    app: dojot