resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

serviceMonitor:
  enabled: true

config:
  logLevel: info
  serverPort: 3101
  lokiAddress: http://loki.{{ dojot_monitoring_namespace }}.svc.cluster.local:3100/loki/api/v1/push
