apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-influxdb-chronograf
  labels:
    app: dojot
    db: influxdb-chronograf
{% if dojot_storage_class_name == "local-storage" %}
    type: local
{% endif %}
{% if dojot_storage_class_name == "nfs" %}
    type: nfs
{% endif %}
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ dojot_storage_class_name }}
{% if dojot_storage_class_name == "local-storage" %}
  local:
    path: {{ dojot_volume_directory }}/influxdb-chronograf
{% endif %}
{% if dojot_storage_class_name == "nfs" %}
  nfs:
    server: {{ hostvars.nfs_host.ansible_host }}
    path: {{ dojot_volume_directory }}/influxdb-chronograf
{% endif %}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: dojot.components/dojot
          operator: In
          values:
          - "enabled"