apiVersion: apps/v1
kind: Deployment
metadata:
  name: x509-ejbca
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: dojot
      name: x509-ejbca
  replicas: {{ dojot_x509_ejbca_replicas }}
  template:
    metadata:
      labels:
        app: dojot
        name: x509-ejbca
    spec:
      securityContext:
        fsGroup: 10001
      hostname: "x509-ejbca"
      restartPolicy: Always
      containers:
      - name: x509-ejbca
        image: dojot/ejbca:{{ dojot_x509_ejbca_version  }}
        readinessProbe:
          httpGet:
            path: /ejbca/publicweb/healthcheck/ejbcahealth
            port: 8080
          periodSeconds: 20
          timeoutSeconds: 5
        env:
        - name: EJBCA_EXTERNAL_ACCESS
          value: "true"
        - name: EJBCA_SERVER_CERT_REGEN
          value: "true"
        - name: DATABASE_JDBC_URL
          value: "jdbc:postgresql://postgres:5432/ejbca?characterEncoding=UTF-8"
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: x509-ejbca-secret
              key: user
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: x509-ejbca-secret
              key: password
        volumeMounts:
        - name: x509-ejbca
          mountPath: /mnt/persistent
        - name: x509-identity-mgmt
          mountPath: /opt/tls
      volumes:
      - name: x509-ejbca
        persistentVolumeClaim:
          claimName: x509-ejbca
      - name: x509-identity-mgmt
        persistentVolumeClaim:
          claimName: x509-identity-mgmt
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/x509
                operator: In
                values:
                - "enabled"
{% endif %}