replicaCount: 1

image:
  repository: quay.io/prometheus/alertmanager
  pullPolicy: IfNotPresent
  tag: "v0.23.0"


serviceAccount:
  create: false

podSecurityContext:
  fsGroup: 65534

securityContext:
  runAsUser: 65534
  runAsNonRoot: true
  runAsGroup: 65534

service:
  type: ClusterIP
  port: 9093
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 32Mi

affinity:
podAntiAffinity:
  requiredDuringSchedulingIgnoredDuringExecution:
  - labelSelector:
      matchExpressions:
      - key: dojot.components/dojot
        operator: In
        values:
        - enabled


persistence:
  enabled: false
  storageClass: "{{ dojot_storage_class_name }}"
  accessModes:
    - ReadWriteOnce
  size: 50Mi

config:
  global: {}
  templates:
    - '/etc/alertmanager/*.tmpl'

  receivers:
    - name: default-receiver
  route:
    group_wait: 10s
    group_interval: 5m
    receiver: default-receiver
    repeat_interval: 3h
