apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: k2v-bridge
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "k2v-bridge"
  selector:
    matchLabels:
      name: k2v-bridge
  replicas: {{ dojot_bridges_replicas }}
  template:
    metadata:
      labels:
        app: dojot
        name: k2v-bridge
    spec:
      restartPolicy: Always
      containers:
      - name: k2v-bridge
        image: dojot/k2v-bridge:{{ dojot_k2v_version}}
        readinessProbe:
          httpGet:
            path: /ready
            port: 9000
          failureThreshold: 1
          initialDelaySeconds: 15
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /live
            port: 9000
          failureThreshold: 3
          initialDelaySeconds: 15
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 3
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/vernemq
                operator: In
                values:
                - true
{% endif %}
