apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: k2v-bridge
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "k2v-bridge"
  selector:
    matchLabels:
      name: k2v-bridge
  replicas: {{ dojot_bridges_replicas }}
  template:
    metadata:
      labels:
        app: dojot
        name: k2v-bridge
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: vernemq
                operator: In
                values:
                - k8s
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: k2v-bridge
        # image: dojot/k2v-bridge:{{ dojot_k2v_version}}
        image: dojot/k2v-bridge:epic-100kMqttDevices
