---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: data-broker-redis
    app: dojot
  name: data-broker-redis
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: data-broker-redis
  template:
    metadata:
      labels:
        name: data-broker-redis
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/redis:5.0.5-alpine3.10
        name: data-broker-redis
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "{{ dojot_node_dojot_label }}"
{% endif %}
