



apiVersion: v1
kind: Service
metadata:
  labels:
    name: external-kong
  name: external-kong
  namespace: dojot
spec:
  ports:
  - name: "ext-http"
    port: 80
    targetPort: 8000
  - name: "ext-https"
    port: 443
    targetPort: 8443
  externalIPs:
  - [EXTERNAL_IP]
  selector:
    app: external-kong