apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kong
  namespace: {{ dojot_namespace }}
  labels:
    app: dojot
    name: kong
spec:
{% if dojot_storage_class_name == "local-storage" %}
  selector:
    matchLabels:
      app: dojot
      name: kong
{% endif %}
  accessModes:
    - ReadOnlyMany
  storageClassName: {{ dojot_storage_class_name }}
  resources:
    requests:
      storage: {{ dojot_apigw_volume_size }}
