apiVersion: v1
kind: Service
metadata:
  labels:
    name: kong
  name: kong
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: "apigw-http"
    port: {{ dojot_internal_http_port }}
    targetPort: 8000
  - name: "apigw-https"
    port: {{ dojot_internal_https_port }}
    targetPort: 8443
  - name: "apigw-config"
    port: {{ dojot_internal_api_config_port }}
    targetPort: 8001
  selector:
    name: kong
    app: dojot
