apiVersion: v1
kind: Service
metadata:
  labels:
    name: kong-external
  name: kong-external
  namespace: {{ dojot_namespace }}
spec:
  type: NodePort
  ports:
  - name: "apigw-http"
    port: {{ dojot_internal_http_port }}
    targetPort: {{ dojot_internal_http_port }}
  selector:
    name: kong
    app: dojot
