apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: history
    app: dojot
  name: history
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: history
  template:
    metadata:
      labels:
        name: history
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/history:{{ dojot_history_version }}
        name: history
        env:
        - name: FALCON_SETTINGS_MODULE
          value: history.settings.docker
        - name: DOJOT_MANAGEMENT_USER
          value: 'history'
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/group
                operator: In
                values:
                - "{{ dojot_node_dojot_label }}"
{% endif %}
