apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: influxdb-retriever
    app: dojot
  name: influxdb-retriever
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dojot
      name: influxdb-retriever
  template:
    metadata:
      labels:
        name: influxdb-retriever
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: dojot/influxdb-retriever:{{ dojot_influxdb_retriever_version }}
        name: influxdb-retriever
        env:
        - name: RETRIEVER_LOG_CONSOLE_LEVEL
          value: "{{ dojot_influxdb_retriever_log_level }}"
        - name: RETRIEVER_CONSUMER_METADATA_BROKER_LIST
          value: "kafka-server:{{ dojot_kafka_port }}"
        - name: RETRIEVER_KEYCLOAK_URI
          value: "http://keycloak:8080"
        - name: RETRIEVER_KEYCLOAK_CLIENT_ID
          value: "dojot-influxdb-retriever"
        - name: RETRIEVER_KEYCLOAK_CLIENT_SECRET_FILE
          value: "dojot-influxdb-retriever"
        - name: RETRIEVER_SYNC_DEVICES
          value: "http://device-manager-sidecar:5000/device"
        - name: RETRIEVER_SYNC_CRON_EXPRESSION
          value: "*/3 * * *"
        volumeMounts:
        - name: dojot-secrets-volume
          mountPath: "/secrets"
          readOnly: true
        readinessProbe:
          httpGet:
            path: /ready
            port: 9000
          failureThreshold: 1
          initialDelaySeconds: 15
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /live
            port: 9000
          failureThreshold: 3
          initialDelaySeconds: 15
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 3
      volumes:
      - name: dojot-secrets-volume
        secret:
          secretName: dojot-secrets
{% if dojot_enable_node_affinity %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dojot.components/database
                operator: In
                values:
                - "enabled"
{% endif %}
