apiVersion: v1
kind: Service
metadata:
  labels:
    name: influxdb-retriever
  name: influxdb-retriever
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 4000
    targetPort: 4000
  selector:
    name: influxdb-retriever
    app: dojot
