apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress
  namespace: {{ dojot_ingress_namespace }}
spec:
  externalTrafficPolicy: Local
  type: NodePort 
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.apigw.http }}
{% endif %}
  - port: 443
    targetPort: 443
    protocol: TCP
    name: https
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.apigw.https }}
{% endif %}    
  - port: 1883
    targetPort: 1883
    protocol: TCP
    name: mqtt
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.mqtt }}
{% endif %}
  - port: 8883
    targetPort: 8883
    protocol: TCP
    name: mqtts
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.mqtts }}
{% endif %}
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: metrics
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.metrics }}
{% endif %}      
  - port: 5683
    targetPort: 5683
    protocol: UDP
    name: coap
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.coap }}
{% endif %}  
  - port: 5684
    targetPort: 5684
    protocol: UDP
    name: coaps
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.coaps }}
{% endif %}  
  - port: 5693
    targetPort: 5693
    protocol: UDP
    name: file-server-coap
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.file_server }}
{% endif %}   
  - port: 5694
    targetPort: 5694
    protocol: UDP
    name: file-server-coaps
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.file_servers }}
{% endif %}
  - port: 5896
    targetPort: 5896
    protocol: TCP
    name: file-server-coap-http
{% if dojot_fixed_nodeports_enabled %}
    nodePort: {{ dojot_nodeports.lwm2m.http }}
{% endif %}   
  selector:
    app: nginx-ingress